html {
    font-family: 'Source Sans Pro', sans-serif;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

body {
    background-color: E5E5E5;
}

h2 {
    margin-top: 0;
}

ion-content {
    --ion-background-color: none;
}

.ion-page {
    font-family: 'Source Sans 3';
}

ion-card-content {
    background-color: #FFFFFF;
}

ion-avatar {     
    max-width: 48px !important;
    max-height: 48px !important;
}

ion-card {
    padding: 0;
}

.ion-page {
    padding: 8px;
}

ion-icon {
    color: #3880FF;
    font-size: 28px;
}

.card-content-md form {
    background-color: #FFFFFF;
}

.sc-ion-searchbar-md-h {
    --border-radius: 6px;
    --box-shadow: 0px;
}

.header-card-turno {
    background-color: #FFF;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.info-turno {
    display: flex;
    flex-direction: column;
    padding-left: 12px;
}

.form_secretary{
    box-shadow: 1px 5px 5px rgba(8, 1, 114, 0.2);
    border-radius: 7px;
}

.buttonSecretary{
    height: 40px;
    margin-top: 7%;
    margin-left: 45%;
}

.form_admin{
    box-shadow: 1px 5px 5px rgb(0.2,0,0,0.2);
    border-radius: 7px;
}
.buttonAdmin{
    height: 40px;
    margin-top: 7%;
    margin-left: 50%;
}
.portada_admin{
    margin-left: 5%;
}

.confirm-button {
    height: 48px;
    font-size: 16px;
}

.buttons_medicos{
    display: flex;
}

.buttons_medicos *{
    font-size: 11px;
}

.avatar-medico {
    width: 39px;
    height: 39px;
}

.bottom-card-turno {
    display: flex;
    flex-direction: row-reverse;
}